klasyfikacja_marsz_trucht.png
zapis_modelu.h5
plik_bazy_danych.db
dane/przykladowe/*.npy
dane/przykladowe/*.csv
dane/przykladowe/*.png
dane/przykladowe/__pycache__
dane/przykladowe/wczytanie_danych_backup.py
dane/przykladowe/wczytanie_danych_marsz_trucht_bieg.py
dane/przykladowe/wczytanie_danych_marsz_trucht.py
dane/przykladowe/klasyfikacja_marsz_trucht_walidacja_k_krzyzowa.py

dane/przykladowe/klasyfikacja_marsz_trucht.py
deep_learning_python/
komunikacja_socket/*.db
komunikacja_socket/*.txt 
komunikacja_socket/serwer_echo.py
komunikacja_socket/socket_client_1_komunikat.py
komunikacja_socket/socket_client_petla.py

dane/obrobka_danych_TIMESTAMP/*.csv
dane/obrobka_danych_TIMESTAMP/nowe_pliki_csv
